@media screen and (min-width: 600px) {
    .slider__form--field {
        height: 20px;
        padding-top: 15px;
    }
}

.chip-list {
    width: 100%;
}

mat-list {
    max-height: 55px;
    overflow-y: auto;
    overflow-x: hidden;
    mat-list-item {
        font-size: 12px;
        height: 25px;
        /*Horrible hack to get rid of .mat-list-item-content padding */
        margin-left: -16px;
    }
}

.cdk-column-action {
    min-width: 80px;
    justify-content: center;
    justify-items: center;
}