<nav fxLayout="row"
     fxLayoutGap="20px"
     *ngIf="displayNavbar$ | async"
     class="navigation__bar">

  <a mat-raised-button
     routerLink="/employees"
     routerLinkActive="active"
     color="primary">employees-list</a>

  <a mat-raised-button
     routerLink="/projects"
     routerLinkActive="active"
     color="primary">Projects-list</a>

  <a mat-raised-button
     routerLink="/holidays"
     routerLinkActive="active"
     color="primary">Holidays-list</a>

  <a mat-raised-button
     routerLink="/holidays/calendar"
     routerLinkActive="active"
     color="primary">Holidays-calendar</a>

</nav>